@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #efefef;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1c1c1c; 
	}
}


html,body{
    background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}
body{
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.card{
	width: 350px;
}

.center{
	display: flex;
	align-items: center;
}

form{
	margin: 0;
}

h5{
	text-align: center;
	padding-bottom: 10px;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form input{
	margin: 5px;
}